.blog-post {
	margin-bottom: 40px;
	border-radius: 1px;
	/*transition: all .5s ease-in-out;*/
}
.blog-post:last-child {
	margin-bottom: 10px;
}
.blog-post h2 {
	margin-top: 10px;
	line-height: 30px;
	margin-bottom: 20px;
}
.blog-post h2 a:hover {
	border-bottom: 1px solid;
}
.blog-post p {
	font-family: 'Merriweather','Georgia','Times New Roman', serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 20px;
}

.blog-post time {
	display: inline-block;
	font-size: 13px;
	color: #5d5d5d;
	font-weight: 500;
	text-transform: uppercase;
}
.blog-post .blog-category {
	font-size: 14px;
	color: #f7a046;
	font-weight: 500;
	text-transform: uppercase;
}
.blog-post .readmore {
	font-size: 15px;
	color: #5d93ff;
	border: 1px solid #5d93ff;
	padding: 5px 15px;
	border-radius: 3px;
}
.blog-post .readmore:hover {
	background-color: #5d93ff;
	color:#fff;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.3);
}
.blog-single {
	margin-top: 95px;
	max-width: 945px;
	margin-left: auto;
	margin-right: auto;
}
.blog-single h1 {
	text-align: center;
	margin-top: 30px;
	color: #333;
}
.blog-single .text {
	font-family: 'Merriweather','Georgia','Times New Roman', serif;
	font-weight: 300;
	line-height: 31px;
	margin-bottom: 31px;
}
.blog-single .text em {
	color: #7a7a7a;
}
.blog-single figcaption {
	display: block;
	color: #666;
	font-size: 13px;
	font-size: 0.85rem;
	font-weight: 500;
	font-style: normal;
	font-family: avenir, "avenir next", -apple-system, BlinkMacSystemFont,"Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.blog-single .text h1{
	font-family: avenir, "avenir next", -apple-system, BlinkMacSystemFont,"Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.blog-single .text p{
	margin-bottom: 25px;
	color: #4e4e4e;
}
.blog-single p a,.blog-post p a{
	color: #5d93ff;
}
.blog-single p a:hover {
	border-bottom: 1px solid #5d93ff;
}

.blog-single p a:vistied {
	color: #7a7a7a;
}

.blog-single h1, .blog-single .date-published, .blog-single .text *:not(div), .blog-single .gist {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.blog-single .text img {
	max-width: 100%;
	height: auto;
}

.blog-single .footer {
	font-family: 'Merriweather','Georgia','Times New Roman', serif;
	color: #5b5b5b;
	font-weight: 300;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	line-height: 31px;
	margin-bottom: 31px;
}
.gohome {
	position: fixed;
	top: 10px;
	left: 15px;
	font-size: 18px;
	text-align: center;
	padding: 6px 16px 3px;
	color: #2b2b2b;
	font-weight: 600;
	border-radius: 3px;
	border: 1px solid #fff;
	transition: all 0.4s ease;
}
/*.gohome:focus {
	color: #444;
	background: #eee;
	border: 0;
}*/
.gohome i {
	margin-right: 5px;
}
.gohome:hover {
	color: #2486FF;
	border: 1px solid #2486ff;
}
@media (max-width:900px) {
	.blog-single h1 {
		margin-top: 15px;
	}
	.blog-single .text, .blog-single .footer {
		padding: 0 15px;
		line-height: 26px;
		margin-bottom: 26px;
	}
	.gohome {
		display: block;
		text-align: center;
	}
}

.cust-header {
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255,255,255,0.96);
  box-shadow: 0px 1px 1px #e1e1e1;
	z-index: 100;
}

.icon-back {
    position: relative;
    bottom: 2px;
	padding: 0px 5px 0 0;
	font-size: 26px;
	vertical-align: middle;
	line-height: 2px;
}
.read-next-card {
	background: #fff;
	padding: 6px 25px 10px;
	margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #ccc;
	transition: all .5s ease-in-out;
}
.read-next-card h6{
	font-style: normal;
	font-size: 14px;
    margin: 20px 0px 10px;
    border: 1px solid #797979;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
}
.read-next-card:hover {
	box-shadow: 0px 15px 8px #cdcdcd;
}
.read-next-card .description {
	line-height: 26px;
}
